<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="파트1.SLDPRT">
  <link
    name="part.SLDPRT">
    <inertial>
      <origin
        xyz="23.667 -0.6954 4.8804"
        rpy="0 0 0" />
      <mass
        value="1769400" />
      <inertia
        ixx="127010000"
        ixy="-633490.000000001"
        ixz="22868000"
        iyy="370470000"
        iyz="-38310.0000000075"
        izz="247560000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://part.SLDPRT/meshes/part.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
        <texture
          filename="package://part.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://part.SLDPRT/meshes/part.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>